<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Bootstrap Example with CDN</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme: Look and Feel -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        

    </head>
    <body>
        {% load staticfiles %}
    	<link rel="stylesheet" type="text/css" href="{% static 'dublinbuspredict/style.css' %}" />
        <!-- Navigation Bar components -->
            <header>
                <nav class="navbar navbar-default navbar-fixed-top">
                <!-- Navbar takes up total width of browser with fluid -->
                    <div class="container-fluid my-navbar">
                        <!-- Hamburger bar that collapses -->
                        <div class="navbar-header">
                            <!-- Data toggle: needs to collapse a div, Data target: ID ref below are linked  -->
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <!-- Dropdown menu in Navigation bar -->
                            <ul class="nav navbar-nav navbar-left">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Home</div>
                                        </div>
                                        <li>
                                            <button class="btn btn-primary">Home</button>
                                        </li>
                                        
                                        <li><a href="/index.html">Home</a></li>
                                        <li><a href="/timetable.html">Timetables</a></li>
                                        <li><a href="tickets_fares.html">Tickets & Fares</a></li>
                                        <li><a href="/connections.html">Connections</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/contact.html">Contact Us</a></li>
                                    </ul>
                                </li>
                            </ul>
                            
                            
                            
                            
                            <!-- Search bar for Navigation bar -->
                            <form class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                            
                            
                            
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </header>
        
        <div class="container">
            <div class="row">
                <!-- On a med device we want to push this div by 8 columns -->
                <!-- Changing bg danger to bg cover allows you to add cover image instead of default colour -->
                <div class="col-xs-12 my-tickets">
                    <h1>Ticket & Fare Information <small>Dublin Bus</small></h1>
                    <p class="lead">Content</p>
                    <p>This is a normal paragraph</p>
                    <p><small>Terms and Conditions</small></p>
                </div>
                
                <br>
                
                <div class="col-xs-12">
                    <p class="text-left">Left-alligned text (default)</p>
                    <p class="text-center">Centred text</p>
                    <p class="text-right">Right-alligned text</p>
                    <p class="text-justify">Justified text</p>
                </div>
            </div>
        </div>
        
        <!-- Collapse -->
        <div class="container">
            
            <div class="row">
                <div class="col-md-3">
                    <!-- Pass ID name to jQuery - jQuery reference requires a hash for ID -->
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#content">Adult Tickets</button>
                    <div class="collapse" id="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-3">
                                <!-- -->
                                    <ul class="list-group">
                                        <li class="list-group-item active">
                                            <span class="badge">1.50</span>
                                            1-3 Stages
                                        </li>
                                        <li class="list-group-item disabled">
                                            <span class="badge">2.00</span>
                                            4-13 Stages</li>
                                        <li class="list-group-item list-group-item-success">
                                            <span class="badge">2.50</span>
                                            13 + Stages</li>
                                        <li class="list-group-item">
                                            <span class="badge">3.00</span>
                                            Bank Holidays</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3 adult-button">
                    <!-- Pass ID name to jQuery - jQuery reference requires a hash for ID -->
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#content">Student Tickets</button>
                    <div class="collapse" id="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-3">
                                <!-- -->
                                    <ul class="list-group">
                                        <li class="list-group-item active">
                                            <span class="badge">1.50</span>
                                            1-3 Stages
                                        </li>
                                        <li class="list-group-item disabled">
                                            <span class="badge">2.00</span>
                                            4-13 Stages</li>
                                        <li class="list-group-item list-group-item-success">
                                            <span class="badge">2.50</span>
                                            13 + Stages</li>
                                        <li class="list-group-item">
                                            <span class="badge">3.00</span>
                                            Bank Holidays</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3 adult-button">
                    <!-- Pass ID name to jQuery - jQuery reference requires a hash for ID -->
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#content">Child Tickets</button>
                    <div class="collapse" id="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-3">
                                <!-- -->
                                    <ul class="list-group">
                                        <li class="list-group-item active">
                                            <span class="badge">1.50</span>
                                            1-3 Stages
                                        </li>
                                        <li class="list-group-item disabled">
                                            <span class="badge">2.00</span>
                                            4-13 Stages</li>
                                        <li class="list-group-item list-group-item-success">
                                            <span class="badge">2.50</span>
                                            13 + Stages</li>
                                        <li class="list-group-item">
                                            <span class="badge">3.00</span>
                                            Bank Holidays</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3 adult-button">
                    <!-- Pass ID name to jQuery - jQuery reference requires a hash for ID -->
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#content">Tourist Tickets</button>
                    <div class="collapse" id="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-3">
                                <!-- -->
                                    <ul class="list-group">
                                        <li class="list-group-item active">
                                            <span class="badge">1.50</span>
                                            1-3 Stages
                                        </li>
                                        <li class="list-group-item disabled">
                                            <span class="badge">2.00</span>
                                            4-13 Stages</li>
                                        <li class="list-group-item list-group-item-success">
                                            <span class="badge">2.50</span>
                                            13 + Stages</li>
                                        <li class="list-group-item">
                                            <span class="badge">3.00</span>
                                            Bank Holidays</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <section class="col-md-4 my-ticket-info">
            
            <div class="panel panel-default">
                <div class="panel-heading">Adult Tickets</div>
                <div class="panel-body">
                    <img src="dublinBusImages/4174742-brooklyn-traffic.jpg" alt="adult" class="img-responsive">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Student Tickets</div>
                <div class="panel-body">
                    <img src="dublinBusImages/Dublin-Wallpaper-6.jpg" alt="student" class="img-responsive">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Child Tickets</div>
                <div class="panel-body">
                    <img src="dublinBusImages/BilbaoGuggenheim_EN-US11232447099_1366x768.jpg" alt="child" class="img-responsive">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Tourist Tickets</div>
                <div class="panel-body">
                    <img src="dublinBusImages/BilbaoGuggenheim_EN-US11232447099_1366x768.jpg" alt="tourist" class="img-responsive">
                </div>
            </div>
            
        </section>
                
        
        <!-- Footer -->
        <div class="container-fluid"> 
        <div class="row">
            <footer class="col-sm-12 my-footer">
                <p class="text-center">&copy; Copyright 2017</p>
            </footer>
        </div>
        </div>
        
        
        
        
        
        
        
        <!-- jQuery file: Needs to be pasted above Bootstrap file to avoid errors -->    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
    </body>
</html>